---
layout: default
title: Triple Click DB
---

<h1>Recently Mentioned</h1>

<div class="recentGamesWrapper hidden">
    <div class="recentGamesWrapperInner">
        
    {% assign allNewestMentions = "" | split: ', '%}
    {% for recentGame in site.games%}
        
        {% assign gamesArray = "" | split: ', ' %}

        {% assign gameId = recentGame.id | remove: "/games/"%}
        {% assign mentions = site.data.game_mentions | where:"game", gameId %}
        {% for mention in mentions%}
            {% assign epID = mention.ep %}
            
            {% for episode in site.episodes %}
                {% assign id =  episode.id | remove: "/episodes/" %}
                {% if id == epID %}

                {% assign epDate = episode.date | date: "%Y%m%d" | append: ":" %}
                {% assign epDate = epDate | append: gameId %}


                {% assign gamesArray = gamesArray | push: epDate %}            

                {% endif %}
            {% endfor %}
        {% endfor %}

        
        {% assign sortedGames = gamesArray | sort | reverse | join: ", " %}
        {% assign sortedGames = sortedGames | split: ", " %}
        
        {% assign newestMention = sortedGames[0] %}
        
        
        {% assign allNewestMentions = allNewestMentions | push: newestMention%}

    {% endfor %}

    {% assign allNewestMentions = allNewestMentions | sort | reverse | join: ", " %}
    {% assign allNewestMentions = allNewestMentions | split: ", " %}

    {% assign newestGamesURL = "" | split: ", "%}
    {% assign newestGamesIGDB = "" | split: ", "%}
    {% assign newestGamesTitle = "" | split: ", "%}

    {%for game in allNewestMentions%}

        {% assign gameId = game | split: ":" | slice: 1 %}

        {% for game in site.games %}
            
            {% assign id = game.id | remove: "/games/" %}
                {% if gameId contains  id%}
                    {% assign newestGamesIGDB = newestGamesIGDB | push: game.igdbid%}
                    {% assign newestGamesURL = newestGamesURL | push: game.url%}
                    {% assign newestGamesTitle = newestGamesTitle | push: game.title%}
                {% endif %}
        {% endfor %}

    {%endfor%}


    {% for i in (0..4) %}
        <a class="recent-game-mention-link" title="{{newestGamesTitle[i]}}" href="{{newestGamesURL[i]}}"><img class="recent-game-mention" data-recent-mention-gameID="{{newestGamesIGDB[i]}}" src="/assets/img/loading-gif.gif" alt="Cover art for {{newestGamesTitle[i]}}"></a>
    {% endfor %}
    </div>
</div>

<div class = "gameTableWrapper">
    <h1>Game List</h1>
    <div class="gameSearchBar">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for games..">
    </div>

        <div class="games-table-container">
            <table class="sortable gameTable" id="myTable">
                <thead>
                <tr class="header">
                <th>Game</th>
                <th>Most Recently Mentioned in</th>
                <th id="gameTableDate">Most Recently Mentioned on</th>
                <th>Total mentions</th>
                </tr>
                </thead>
                <tbody>
                    {% for game in site.games %}
                        <tr>
                            <td>
                                <a href="{{ game.url | relative_url}}">{{ game.title }}</a>
                            </td>
                                {% assign id = game.id | remove: "/games/"%}
                                {% assign i = site.data.game_mentions | where:"game", id | sort_natural: "ep" | reverse %}
                                {% assign epID = i[0].ep%}
                                {% for episode in site.episodes %}
                                    {% assign id =  episode.id | remove: "/episodes/" %}
                                    {% if id == epID %}
                                    <td><a href="{{ episode.url | relative_url}}">{{ episode.title }}</a></td>
                                    <td><a href="{{ episode.url | relative_url}}">{{ episode.date | date: "%Y-%m-%d"}}</a></td>
                                    {% endif %}
                                {% endfor %}
                            <td>{{i.size}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<script src="/assets/recentGames.js"></script>