---
layout: default
title: Triple Click DB
---
<div class = "logo-container"><img class="hero-logo" src ="assets/img/logo.png"></div>

<h2>Recently Mentioned</h2>

<div class="recentGamesWrapper">
    
{% assign allNewestMentions = "" | split: ', '%}
{% for recentGame in site.games%}
    
    {% assign gamesArray = "" | split: ', ' %}

    {% assign gameId = recentGame.id | remove: "/games/"%}
    {% assign mentions = site.data.game_mentions | where:"game", gameId %}
    {% for mention in mentions%}
        {% assign epID = mention.ep %}
        
        {% for episode in site.episodes %}
            {% assign id =  episode.id | remove: "/episodes/" %}
            {% if id == epID %}

            {% assign date = episode.release_date | append: ":" %}
            {% assign date = date | append: gameId %}


            {% assign gamesArray = gamesArray | push: date %}            

            {% endif %}
        {% endfor %}
    {% endfor %}

    
    {% assign sortedGames = gamesArray | sort | reverse | join: ", " %}
    {% assign sortedGames = sortedGames | split: ", " %}
    
    {% assign newestMention = sortedGames[0] %}
    
    
    {% assign allNewestMentions = allNewestMentions | push: newestMention%}

{% endfor %}

{% assign allNewestMentions = allNewestMentions | sort | reverse | join: ", " %}
{% assign allNewestMentions = allNewestMentions | split: ", " %}

{% assign newestGamesURL = "" | split: ", "%}
{% assign newestGamesIGDB = "" | split: ", "%}
{% assign newestGamesTitle = "" | split: ", "%}

{%for game in allNewestMentions%}

    {% assign gameId = game | split: ":" | slice: 1 %}

    {% for game in site.games %}
        
        {% assign id = game.id | remove: "/games/" %}
            {% if gameId contains  id%}
                {% assign newestGamesIGDB = newestGamesIGDB | push: game.igdbid%}
                {% assign newestGamesURL = newestGamesURL | push: game.url%}
                {% assign newestGamesTitle = newestGamesTitle | push: game.title%}
            {% endif %}
    {% endfor %}

{%endfor%}


{% for i in (1..5) %}
    <a title="{{newestGamesTitle[i]}}" href="{{newestGamesURL[i]}}"><img class="recent-game-mention" data-recent-mention-gameID="{{newestGamesIGDB[i]}}" src="/assets/img/co2nfc.png" alt="Cover art for {{newestGamesTitle[i]}}" width="19%"></a>
{% endfor %}
</div>

<div class = "gameTableWrapper">
    <h2>Game List</h2>
    <div class="gameSearchBar">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for games..">
    </div>

        <table class="sortable paginated gameTable" id="myTable">
            <thead>
            <tr class="header">
            <th>Game</th>
            <th>Most Recently Mentioned in</th>
            <th id="gameTableDate">Most Recently Mentioned on</th>
            <th>Total mentions</th>
            </tr>
            </thead>
            <tbody>
                {% for game in site.games %}
                    <tr>
                        <td>
                            <a href="{{ game.url | relative_url}}">{{ game.title }}</a>
                        </td>
                            {% assign id = game.id | remove: "/games/"%}
                            {% assign i = site.data.game_mentions | where:"game", id | sort_natural: "ep" | reverse %}
                            {% assign epID = i[0].ep%}
                            {% for episode in site.episodes %}
                                {% assign id =  episode.id | remove: "/episodes/" %}
                                {% if id == epID %}
                                <td><a href="{{ episode.url | relative_url}}">{{ episode.title }}</a></td>
                                <td><a href="{{ episode.url | relative_url}}">{{ episode.release_date}}</a></td>
                                {% endif %}
                            {% endfor %}
                        <td>{{i.size}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

<script src="/assets/recentGames.js"></script>