<!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
        <link rel=stylesheet href="/assets/style.css" type="text/css">
        <script src="/assets/script.js"></script>
        
    </head>
        <body>
            <div class="content-wrapper hidden">
                {% include navigation.html %}
                <div class = "logo-container subpage"><a href="/"><img class="hero-logo" src ="/assets/img/logo.png"></a></div>
                <h1 class="game-title">{{page.title}}</h1>
                <div class="sub-title"></div>

                <div class = "summary-container">
                <img class="cover-art" src="/assets/img/loading-gif.gif" alt="Cover art for {{page.title}}">
                <div class = "summary">
                    <p id="summary-text"></p>
                    <p>Read more at <a class="link-to-igdb" href="">The Internet Game Database</a></p>
                </div>

                </div>

                {% assign id = page.id | remove: "/games/" %}
                {% assign mentions = site.data.game_mentions | where: "game", id %}

                <h2>Most recent mention:</h2>
                <ul>
                    <li>
                        {% assign i = site.data.game_mentions | where:"game", id | sort_natural: "ep" | reverse %}
                        {% assign epID = i[0].ep%}
                        {% assign ep = site.episodes | where: "id", epID %}
                                {% for episode in site.episodes %}
                                    {% assign id =  episode.id | remove: "/episodes/" %}
                                    {% if id == epID %}
                                    <a href="{{ episode.url | relative_url}}">{{ episode.title }}, on {{ episode.date | date: "%Y-%m-%d" }}</a>
                                    {% endif %}
                                {% endfor %}
                    </li>
                </ul>

                <h2>Mentioned in:</h2>
                <ul>
                    {% for mention in mentions %}
                    <li>
                        {% for episode in site.episodes %}
                            {% assign pageId = episode.id | remove: "/episodes/" %}
                            {% if pageId == mention.ep %}
                            <a href="{{ episode.url | relative_url}}">{{ episode.title }}, on {{ episode.date | date: "%Y-%m-%d" }}</a>
                            {% endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <script>var igdbID = {{page.igdbid}}</script>
            <script src="/assets/games.js" defer></script>
    </body>
</html>