<!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel=stylesheet href="/tripleclickdb/assets/style.css" type="text/css">
        <script src="/tripleclickdb/assets/script.js"></script>
    </head>
        <body>
            <div class="home-navn"><a href="{{site.baseurl}}/">HOME</a></div>
            <div class="content-wrapper">

                <h1>{{page.title}}</h1>
                {{ content }}

                {% assign id = page.id | remove: "/games/" %}
                {% assign mentions = site.data.game_mentions | where: "game", id %}

                <h2>Most recent mention:</h2>
                <ul>
                    <li>
                        {% assign i = site.data.game_mentions | where:"game", id | sort_natural: "ep" | reverse %}
                        {% assign epDate = i[0].ep%}
                        {% assign ep = site.episodes | where: "date", epDate %}
                                {% for episode in site.episodes %}
                                    {% assign id =  episode.id | remove: "/episodes/" %}
                                    {% if id == epDate %}
                                    <a href="{{ episode.url | relative_url}}">{{ episode.title }}, on {{ episode.id | date: "%D" }}</a>
                                    {% endif %}
                                {% endfor %}
                    </li>
                </ul>

                <h2>Mentioned in:</h2>
                <ul>
                    {% for mention in mentions %}
                    <li>
                        {% for episode in site.episodes %}
                            {% assign pageId = episode.id | remove: "/episodes/" %}
                            {% if pageId == mention.ep %}
                            <a href="{{ episode.url | relative_url}}">{{ episode.title }}, on {{ episode.id | date: "%D" }}</a>
                            {% endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </body>
</html>