<!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <script src="/tripleclickdb/assets/script.js"></script>
    </head>
        <body>
        <h1>{{page.title}}</h1>
        {{ content }}
        
        <h2>Mentioned in:</h2>
        <ul>
            {% assign id = page.id | remove: "/games/" %}
            {% assign mentions = site.data.game_mentions | where: "game", id %}

            {% for mention in mentions %}
            <li>
                {% for episode in site.episodes %}
                    {% assign id = episode.id | remove: "/episodes/" %}
                    {% if id == mention.ep %}
                    <a href="{{ episode.url | relative_url}}">{{ episode.title }}</a>
                    {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

    </body>
</html>